body {
    font-family: Open Sans, serif;
    margin: 0;
}

#userInput {
    width: 86px;
    height: 38px;
}

#getInputButton {
    width: 39px;
    height: 38px;
    background: #0275D8;
    border: 1px solid #0275D8;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
}

#spinner, #term, #meaningError {
    display: none;
}

#errorMessage {
    background-color: #F2DEDE;
    margin-left: 40px;
    padding: 15px;
    visibility: hidden;
}

.col,
[class*="col-"] {
    border: 1px solid black;
}

.top-buffer-first-row {
    margin-top: 100px;
}

.top-buffer-second-row {
    margin-top: 50px;
}

.left-buffer-top {
    margin-left: 142px;
}

.left-buffer-bottom {
    margin-left: 154px;
}

.heading {
    font-size: 72px;
}

.text, .meaning-error, .heading {
    font-style: normal;
    font-weight: normal;
}

.text {
    font-size: 24px;
}

.inline-left-buffer {
    margin-left: 10px;
}

.term {
    text-decoration-line: underline;
    font-weight: bold;
}

.input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#meaningError {
    font-size: 16px;
    color: #D9534F;
}